In [1]:
import pandas as pd

In [2]:
mydata=pd.Series([1,2,3,4,5], index=["a","b","c","d","e"])

In [3]:
mydata

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
type(mydata)

pandas.core.series.Series

In [5]:
mydata.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
mydata.values

array([1, 2, 3, 4, 5], dtype=int64)

In [8]:
mydata.a

1

In [9]:
mydata.b

2

In [10]:
mydata['a':'b']

a    1
b    2
dtype: int64

In [11]:
mydataframe=pd.DataFrame({"Name":["sonu","monu","tinu"], "Age":[20,21,22], "Marks":[80,85,95], "gender": ["male", "male", "female"]})

In [13]:
mydataframe

   Name  Age  Marks  gender
0  sonu   20     80    male
1  monu   21     85    male
2  tinu   22     95  female

In [14]:
mydataframe.keys()

Index(['Name', 'Age', 'Marks', 'gender'], dtype='object')

In [15]:
mydataframe.columns

Index(['Name', 'Age', 'Marks', 'gender'], dtype='object')

In [17]:
mydataframe.Age

0    20
1    21
2    22
Name: Age, dtype: int64

In [19]:
mydataframe[mydataframe>15]

   Name  Age  Marks  gender
0  sonu   20     80    male
1  monu   21     85    male
2  tinu   22     95  female