In [4]:
def my_accuracy(y_test,y_pred):
    right=0
    
    l=len(y_pred)
    for i in range(0,l):
        if(abs(y_pred[i]-y_test[i]) <= 10):
            right += 1
    print((right/l)*100)

In [5]:
import pandas as pd

In [6]:
mydata=pd.read_excel(r"C:\Users\pawan\Desktop\Project\all new\odidata.xlsx")

In [7]:
mydata.head(1)

,mid,date,venue,inning,bat_team,bowl_team,batsman,bowler,runs,wickets,overs,run_rate,runs_last_5,wickets_last_5,rr_last_5,striker,non-striker,total
0,1,2006-06-13,"Civil Service Cricket Club, Stormont",1,England,Ireland,ME Trescothick,DT Johnston,0,0,0.1,0.0,0,0,0.0,0,0,301

In [8]:
mydata.shape

(335118, 18)

In [9]:
type(mydata)

pandas.core.frame.DataFrame

In [10]:
x=mydata.iloc[:,[8,9,10,11,12,13,14,15,16]].values
y=mydata.iloc[:, 17].values

In [11]:
x

array([[0.00e+00, 0.00e+00, 1.00e-01, ..., 0.00e+00, 0.00e+00, 0.00e+00],
       [0.00e+00, 0.00e+00, 2.00e-01, ..., 0.00e+00, 0.00e+00, 0.00e+00],
       [4.00e+00, 0.00e+00, 3.00e-01, ..., 8.00e+00, 0.00e+00, 0.00e+00],
       ...,
       [1.73e+02, 9.00e+00, 4.85e+01, ..., 4.80e+00, 3.00e+00, 1.00e+00],
       [1.74e+02, 9.00e+00, 4.86e+01, ..., 4.80e+00, 3.00e+00, 2.00e+00],
       [1.74e+02, 1.00e+01, 4.87e+01, ..., 4.80e+00, 3.00e+00, 2.00e+00]])

In [12]:
x.shape

(335118, 9)

In [13]:
y.shape

(335118,)